* {
    padding: 0;
    margin: 0;
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    --text-primary: white;
    --bg-primary: #FFA33F;
    --bg-secondary: #B6EE56;
    /** other colors values are #92CD28, E4FF7F, and F78914 */
}

/** Classes */

.navbar {
    background-color: var(--bg-primary);
    height: 120px;
    width: 100vw;
}

/** Elements */

body {
    color: black;
    background-color:white;
}

body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-track {
    background: #E4FF7F;
}

body::-webkit-scrollbar-thumb {
    background: #F78914;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
}

nav h1 {
    color: #92CD28;
    position: relative;
    left: -31%;
    font-size: 60px;
}

nav ul {
    list-style-type: none;
    position: relative;
    right: 20px;
}

nav ul li {
    display: inline-block;
    margin: 10px;
}

nav ul li a {
    color: white;
    font-size: 20px;
}

footer {
    background-color: var(--bg-primary);
}

footer p {
    color: white;
    text-align: center;
}

main {
    background-color: #92CD28;
    height: 100vh;
}

main h1 {
    color: white;
    text-align: center;
    position: relative;
    top: 500px;
    font-size: 60px;
}

/** IDs */